﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.logo{
    float:left;
    margin-left: -10%;
    margin-top: -10%;
    margin-right: 10%;
    margin-bottom: 10%;

}
label{
    display: block;
}
input.input-validation-error{
    border-color:red;
    border-width: 1px;
}
span.field-validation-error{
    color:red;
    font-style: italic;
    margin-left: 5px;
    display: inline-block;
}
div.validation-summary-errors ul,
div.validation-summary-errors ul li {
    list-style: outside disc;
    color: red;
}

.emphasize-example {
    width: 500px !important;
    max-width: 50% !important;
    color: darkorange;
    position: relative;
}
input.emphasize-example {
    border: 3px solid darkorange;
    color: black;
}
label.emphasize-example::after {
    content: "";
    background-image: url('/Content/Images/MvcHoneyPotMessageOptimized.svg');
    background-size: 200px 200px;
    display: inline-block;
    position: absolute;
    right:0px;
    margin-right: -210px;
    top:-50px;
    width: 200px;
    height: 200px;
    display: block;
    z-index: 9;
}